{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags puput_tags %}
 <!-- Load the tag library -->
{% load bootstrap4 %}
<!-- Load CSS and JavaScript -->
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!-- Load Custom Filters -->
{% load custom_filters %}

{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags wagtailuserbar puput_tags %}
{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags puput_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <!-- Get Font Awesome URL from .env file with custom tag -->
        <script src="{% get_font_awesome_url %}"></script>
        <!-- Pull in JS file for animating shutter effect -->
        <script src="{% static 'js/authorsite.js' %}"></script>

        {% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/light_theme.css' %}">
        {% endblock %}
    </head>

    
    <body class="{% block body_class %}{% endblock %}">

        <!-- Load Fader -->
        <svg id="fader" class="fade-out">
        </svg>
        <script>
            fadeInPage();
        </script>

        <!-- Load Menu -->
        {% load menu_tags %}
        {% flat_menu 'jove-brand-flat-menu' %}
    
    <!-- Load Outer Container Block -->
    {% block startoutercontainer %}
    <!-- Outer Container -->
    <div class="container-fluid py-2 py-md-5 mb-2 mb-md-5">
    {% endblock %}
    <!-- Header Block -->
        {% block header %}
            <div class="container my-md-5 my-2">
                <div class="row justify-content-center">
                    <h1 class="text-center display-5 text-shadow-small mt-2 mb-4">
                        {{ page.title }}
                    </h1>
                </div>
                {% if page.intro %}
                <div class="row justify-content-center mt-4">
                    <div class="col text-center">
                        <div class="intro text-muted h4">{{ page.intro|richtext }}</div>
                    </div>
                </div>
                {% elif page.description %}
                <div class="row justify-content-center mt-4">
                    <div class="col text-center">
                        <div class="intro text-muted h4">{{ page.description|richtext }}</div>
                    </div>
                </div>
                {% else %}
                <div class="row justify-content-center mt-4">
                    <div class="col text-center">
                        <div class="intro text-muted h4">{{ page.body|richtext }}</div>
                    </div>
                </div>
                {% endif %}
            </div>
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block footer %}
            {% include 'light_footer.html' %}
        {%endblock %}
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    <!-- Close outer container -->
    {% block closeoutercontainer %}
    <!-- Close Outer container -->
    {% endblock %}
    </div>
    </body>
</html>
