{% load wagtailcore_tags %}
{% load static %}
<!-- Start Rendering Footer -->
<div class="container-fluid footer-box text-light fixed-bottom pl-0 pr-0 md-pl-1 md-pr-5 py-2 shadow">
    <div class="row justify-content-between align-items-center px-0 md-px-5">
        <div class="col text-left d-none d-md-inline pl-md-5">
            <a href="{{ settings.home.SocialMediaSettings.twitter }}" class="footer-link roll-over-bounce" target="__blank">
                <i class="fa fa-twitter px-2 icon-big" aria-label="twitter-icon"></i></a>
            <a href="{{ settings.home.SocialMediaSettings.facebook }}" class="footer-link" target="__blank">
                <i class="fa fa-facebook-square px-2 icon-big" aria-label="facebook-icon"></i></a>
            <a href="{{ settings.home.SocialMediaSettings.instagram }}" class="footer-link roll-over-bounce" target="__blank">
                    <i class="fa fa-instagram px-2 icon-big" aria-label="instagram-icon roll-over-bounce"></i></a>
            <a href="{{ settings.home.SocialMediaSettings.tiktok }}" class="footer-link roll-over-bounce" target="__blank">
                    <i class="fab fa-tiktok px-2 icon-big" aria-label="tik-tok icon roll-over-bounce"></i></a>
            <a href="{% slugurl 'contact' %}" class="footer-link roll-over-bounce" target="__blank">
                <i class="fa fa-envelope px-2 icon-big" aria-label="twitter-icon"></i></a>
        </div>
        <div class="col-auto text-center mx-auto md-mx-5 pr-md-5">
            <a class="btn btn-outline-warning p-2 md-mx-5 md-px-5 newsletter-font text-uppercase roll-over-bounce" href="{% slugurl 'newsletter' %}" role="button">Get Newsletter</a>
        </div>
    </div>
</div>

<!-- End Rendering Footer -->