{% load wagtailcore_tags %}
<!-- Start Rendering Footer -->
<div class="container-fluid footer-box text-light fixed-bottom pl-1 py-2">
    <div class="row justify-content-between align-items-center">
        <div class="col text-left d-none d-md-inline">
            <a href="{{ settings.home.SocialMediaSettings.twitter }}" class="footer-link" target="__blank">
                <i class="fa fa-twitter px-2 icon-big" aria-label="twitter-icon"></i></a>
            <a href="{{ settings.home.SocialMediaSettings.facebook }}" class="footer-link" target="__blank">
                <i class="fa fa-facebook-square px-2 icon-big" aria-label="facebook-icon"></i></a>
            <a href="{{ settings.home.SocialMediaSettings.instagram }}" class="footer-link" target="__blank">
                    <i class="fa fa-instagram px-2 icon-big" aria-label="instagram-icon"></i></a>
            <a href="{% slugurl 'contact' %}" class="footer-link" target="__blank">
                <i class="fa fa-envelope px-2 icon-big" aria-label="twitter-icon"></i></a>
        </div>
        <div class="col-auto text-center md-12 mx-auto">
            <a class="btn btn-outline-warning p-2 newsletter-font text-uppercase" href="{% slugurl 'newsletter' %}" role="button">Get Newsletter</a>
        </div>
    </div>
</div>
<!-- End Rendering Footer -->