{% load wagtailcore_tags %}
<!-- Start Rendering Footer -->
<div class="container-fluid footer-box fixed-bottom shadow">
    <div class="row justify-content-between align-items-center shadow btn-outline-secondary">
        <div class="col-12 text-center pt-3">
            <p>
            <a class="bold" href="www.jacrawford.net" target="_blank">Jove Brand is the star of the fictional JOVE BRAND films, as seen in the novel JOVE
                BRAND IS NEAR DEATH by author JA Crawford.</a>
            </p>
        </div>
    </div>
</div>
<!-- End Rendering Footer -->