{% load wagtailcore_tags %}
{% load custom_filters %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">
  <a class="nav-link h3 text-warning py-2" href="{% slugurl 'home' %}">{% get_site_name %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      {% for item in menu_items %}
      {% if item.sub_menu %}
      <li class="nav-item dropdown ml-4">
        <a class="nav-link dropdown-toggle text-light h3" data-toggle="dropdown" 
          href="{{ item.href }}" role="button" aria-haspopup="true" aria-expanded="false">{{ item.text }}</a>
        <div class="dropdown-menu bg-primary text-light">
          {% for sub_item in item.sub_menu.items %}
          <a class="dropdown-item bg-primary text-light text-uppercase h5" href="{{ sub_item.href }}">{{ sub_item.text }}</a>
          {% endfor %}
        </div>
      </li>
      {% else %}
      <li class="nav-item ml-4">
        <a class="nav-link h3 text-light" href="{{item.href}}">{{item.text}}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>