<!-- Extend the base theme, light or dark. Now menus, fontawesome, bootstrap, etc. are included. -->
{% load static wagtailuserbar %}
 <!-- Load the tag library -->
{% load bootstrap4 %}
<!-- Load CSS and JavaScript -->
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!-- Load Custom Filters -->
{% load custom_filters %}

{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags puput_tags %}

{% include page.template_theme %}


<!-- Now include an updated version of the base puput template. -->
{% block content %}
<div class="container-fluid container-blog py-5 mb-5">
    <div class="container blog-card">
        <div class="row justify-content-center">
            <h2 class="text-center display-4 mt-2 mb-4 text-warning">
                {{ page.title }}
            </h2>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col text-center">
                <div class="intro text-muted h4">{{ page.description|richtext }}</div>
            </div>
        </div>
    </div>
<!-- End top block and start form -->
