{% extends "base_dark.html" %}
{% load wagtailcore_tags wagtailimages_tags static%}
{% block body_class %}template-homepage{% endblock %}
{% block content %}
<div class="container mt-1 mt-md-4 mb-5 p-1 p-md-3">
    <div class="row justify-content-between">
        <!-- Left hand column -->
        <div class="col-12 col-md-6 order-2 order-md-1 card bg-primary lead p-2 p-md-5 shadow">
            <p class="card-body text-white lead">
                {{ page.author_bio|richtext }}
            </p>
        </div>
        <!-- Right hand column -->
        <div class="col align-items-center text-center order-1 order-md-2">
            {% image page.author_photo min-2000x400 as author_photo %}
            <img src="{{ author_photo.url }}" class="mw-100 shadow" style="max-height: 50vh">
        </div>
    <!-- Close Row -->
    </div>
<!-- Close Card -->
</div>
{% endblock %}