{% extends "base_light.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

<!-- Cancel out header block -->
{% block header %}{% endblock %}
{% block content %}
<!-- Mobile Warden Pages block -->
<div class="d-block d-md-none container px-2 px-md-4 py-4 col-12 text-left">
    {% for item in warden_pages %}
    <div class="row mx-2 my-1 my-sm-4
    justify-content-{% if forloop.counter|divisibleby:2 %}end{% else %}start{% endif %} justify-content-md-center">
        <a class="col-10 col-md-3 btn btn-outline-primary shadow-sm" href="{% pageurl item %}" style="opacity: 95%;">
            <span class="text-danger">{{item.title|slice:":1"}}</span>{{item.title|slice:"1:"}}</a>
        </a>
    </div>
    {% endfor %}
</div>
<!-- Desktop Pages Block -->
<div class="d-none d-md-block container mb-5">
    <!-- End Intro block, start iterating through book blocks -->
    {% for item in warden_pages %}
    <a href="{% pageurl item.specific %}" class="card-flash">
    <div class="container card mt-4 mb-2 p-3 card-flash shadow-sm">
        <div class="row justify-content-center">
            <div class="col-12 d-flex align-items-center text-left">
                <div class="col-4 d-flex-inline">
                    <h3 class="card-title text-left my-2 text-warning">
                        <span class="text-primary">{{item.title|slice:":1"}}</span>{{item.title|slice:"1:"}}</h3>
                </div>
                <div class="col-8 d-flex-inline">
                    <h5>
                    {% if item.specific.description %}
                    {{item.specific.description|richtext}}
                    {% else %}
                    {{item.specific.body|richtext}}
                    {% endif %}
                    </h5>
                </div>
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
</div>
{% endblock %}