{% extends "base_light.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

<!-- Cancel out header block -->
{% block header %}{% endblock %}
{% block content %}
<!-- Create warden pages block -->
<div class="container px-2 px-md-4 py-4 col-12 text-left spiral-background">
    {% for item in warden_pages %}
    <div class="row mx-2 my-1 my-sm-4
    justify-content-{% if forloop.counter|divisibleby:2 %}end{% else %}start{% endif %} justify-content-md-center">
        <a class="col-10 col-md-3 btn btn-outline-primary text-shadow-small" href="{% pageurl item %}" style="opacity: 95%;">
            <span class="text-danger">{{item.title|slice:":1"}}</span>{{item.title|slice:"1:"}}</a>
        </a>
        <div class="d-none d-md-inline-flex col-8 card ml-5">
                {% if item.specific.description %}
                {{item.specific.description|richtext}}
                {% else %}
                {{item.specific.body|richtext}}
                {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}