{% extends "base_dark.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-homepage{% endblock %}

<!-- Cancel out startoutercontainerblock -->
{% block startoutercontainer %}
{% endblock %}
<!-- End cancellation -->

<!-- Cancel out header block -->
{% block header %}
{% endblock %}
<!-- End Cancellation -->

{% block content %}

{% image page.background_image height-2000 as background_image %}
{% image page.book_image height-2000 as book_image %}
{% image page.author_image height-2000 as author_image %}


<!-- Set up flex column to center inner containers-->
<div class="container-fluid d-flex flex-column outer-container justify-content-center align-items-center"
    style="background-image: url({{ background_image.url }});
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;">
<!-- End setup of flex column -->

    <!-- Set up center container -->
    <div class="center-container row">
        <div class="col-12">
            <img src="{{book_image.url}}" class="img-fluid book-image">
        </div>
    </div>
<!-- Close outer flex column  -->
</div>

{% endblock content%}


<!-- Cancel out block endoutercontainer -->
{% block closeoutercontainer %}
{% endblock %}