html {
    background-color: #141414;
    color:#dee0e2;
}
body.template-homepage{
    background-color: #141414;
    color:#dee0e2;
}
body {
    background-color: #141414;
}
div.container-dark {
    background-color: #141414;
}
/*------Menu CSS--------------------------------*/
a.menu-site-name {
    transition: ease 0.6s;
    text-shadow: 2px 2px 2px #141414;
}
a.menu-site-name:hover {
    color:#df2c27 !important;
    transition: ease 0.6s;
}
a.menu-link {
    transition: ease 0.6s;
    text-shadow: 2px 2px 2px #141414;
}
a.menu-link:hover {
    color: #f0ad4e !important;
    transition: ease 0.6s;
}

/* Landing Hero Image Styling */
div.max-vh-75 {
    max-height: 75vh;
}
img.max-vh-60 {
    max-height: 60vh;
}
/*Header Custom Styling (also used in footer)*/
a.orange-link {
    color: #f0ad4e;
    transition: ease 0.3s;
    text-shadow: 2px 2px black;
}
a.orange-link:hover {
    color:#C0C6C9;
    text-decoration: underline dashed #C0C6C9;
    text-shadow: 2px 2px #1a1a1a;
    transition: ease 0.3s;
}
/* Landing Hero Caption Styling */
.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}
@include media-breakpoint-up(md) {
    .display-4 {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
  }
/* Books Page Custom Styling */
.line-height-high {
    line-height: 1.5rem;
}
.text-light {
    color: #dee0e2;
}
.text-muted {
   color:#C0C6C9
}
a.buy-link:hover{
    color:#ff0000;
}
/* Contact Page Custom Styling/forms */
input {
    width: 80%;
    background-color: #1a1a1a;
    border-color:#f0ad4e;
    padding: 10px;
    color: #C0C6C9;
    font-size: large;
}
textarea {
    width: 80%;
    background-color: #1a1a1a;
    border-color: #f0ad4e;
    padding: 10px;
    color: #C0C6C9;
    font-size: large;
}
/*Footer Custom Styling*/
.icon-big {
    font-size: xx-large;
}
.newsletter-font {
    font-size: x-large;
}
div.footer-box {
    background-color: rgba(26, 26, 26, 75%);
}
a.footer-link {
    color:#C0C6C9;
    transition: ease 0.3s;
    text-shadow: 2px 2px black;
}
a.footer-link:hover {
    color:#f0ad4e;
    transition: ease 0.3s;
}
/* Custom Blog Specific Classes */
div.container-blog {
    background-color: #141414;
}
h2.post_title a{
    color: #f0ad4e;
    transition: ease 0.3s;
}
h2.post_title a:hover{
    color:#C0C6C9;
    transition:ease 0.3s;
    text-decoration: none;
}
article.blog-card {
    background-color: #1a1a1a;
}
.blog-card {
    background-color: #1a1a1a;
    outline: none;
}
section.article.blog-text p {
    color:#dee0e2;
}
i.blog-icon {
    color: #C0C6C9;
}
a.blog-link {
    color: #f0ad4e;
    transition: ease 0.3s;
}
a.blog-link:hover {
    color:#C0C6C9;
    transition:ease 0.3s;
    text-decoration: dashed;
}
div.blog-link a{
    color: #f0ad4e;
    transition: ease 0.3s;
}
div.blog-link ul {
    list-style-type: none;
    color: #C0C6C9
}
div.blog-link h4 {
    color: #f0ad4e;
}
.blog-text {
    color:#C0C6C9;
}
ul li.tag::marker{
    display: none;
}
li.tag a{
    color: #f0ad4e;
    transition: ease 0.3s;
}
li.tag a:hover{
    color: #C0C6C9;
}
.page-content p{
    color: #C0C6C9;
}
/* override puput */
a.endless_page_link {
    color: #f0ad4e;
}
a.endless_page_link:hover {
    color: #C0C6C9;
}
span.endless_page_current {
    color: #C0C6C9;
}
/*------Fader animation for soft-load-----------*/
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: black;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}
@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}
@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}
#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}
#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}
/*----Fade-in animations for HomePage----*/
/*-------Animated Fade-in-----------*/
.fade-in-quote {
    animation: fadeIn ease-in 2s;
    -webkit-animation: fadeIn ease-in 2s;
    -moz-animation: fadeIn ease-in 2s;
    -o-animation: fadeIn ease-in 2s;
    -ms-animation: fadeIn ease-in 2s;
    }
.fade-in-book-cover {
    animation: fadeIn ease-in 5s;
    -webkit-animation: fadeIn ease-in 5s;
    -moz-animation: fadeIn ease-in 5s;
    -o-animation: fadeIn ease-in 5s;
    -ms-animation: fadeIn ease-in 5s;
}
/*---fade-in keyframes--*/
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
