.text-shadow {
    text-shadow: 2px 2px 2px #1a1a1a;
}
.text-shadow-small {
    text-shadow: 0px 1px 1px #1a1a1a;
}
/* Menu Customization */
a.nav-link {
    transition: ease 0.3s;
}
a.nav-link:hover {
    transition: ease 0.3s;
}

/* Watchlist page */
.card-flash {
    transition: ease 0.5s;
}
.card-flash:hover {
    background-color: #797272;
    transition: ease 0.5s;
    border: #797272;
    color: whitesmoke;
}
a.card-flash {
    text-decoration: none;
}
a.card-flash:hover {
    text-decoration: none;
    text-shadow: 0.2px 0.2px 1px #1a1a1a;
}
span.underline {
    text-decoration: underline dashed lightslategray 1px;
    transition: ease 0.5s;
}
span.underline:hover {
    text-decoration: none;
    transition: ease 0.5s;
}
/*------Fader animation for soft-load-----------*/
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: whitesmoke;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}
@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}
@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}
#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}
#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}