.text-shadow {
    text-shadow: 2px 2px 2px #1a1a1a;
}
.text-shadow-small {
    text-shadow: 0px 1px 1px #1a1a1a;
}

/* Watchlist page */
.card-flash {
    transition: ease 0.5s;
}
.card-flash:hover {
    background-color: rgba(247, 202, 140, 0.5);
    transition: ease 0.5s;
}
.card-flash a{
    text-decoration: none;
}
.card-flash a:hover {
    text-decoration: none;
}