.text-shadow {
    text-shadow: 2px 2px 2px #1a1a1a;
}
.text-shadow-small {
    text-shadow: 0px 1px 1px #1a1a1a;
}

/* Watchlist page */
.card-flash {
    transition: ease 0.5s;
}
.card-flash:hover {
    background-color: #797272;
    transition: ease 0.5s;
    border: #797272;
    color: whitesmoke;
}
a.card-flash {
    text-decoration: none;
}
a.card-flash:hover {
    text-decoration: none;
    text-shadow: 0.1px 0.1px 1px white;
}