{% extends "base_light.html" %}
{% load wagtailcore_tags wagtailimages_tags static%}
{% block body_class %}template-homepage{% endblock %}
<!-- Cancel out headerblock -->
{% block content %}
<!-- End Intro block, start iterating through book blocks -->
    <a href="{{ page.character_page.specific.url }}" class="card-flash">
        <div class="container card mt-4 mb-2 p-3 card-flash shadow-sm">
            <div class="row justify-content-center">
                <div class="col-12 align-items-center text-center">
                    <h5 class="card-title text-center my-2"> {{ page.character_page.title }}
                    </h5>
                </div>
            </div>
        </div>
    </a>
    <a href="{{ page.actor_page.specific.url }}" class="card-flash">
    <div class="container card mt-4 mb-2 p-3 card-flash shadow-sm">
        <div class="row justify-content-center">
            <div class="col-12 align-items-center text-center">
                <h5 class="card-title text-center my-2"> {{ page.actor_page.title }}
                </h5>
            </div>
        </div>
    </div>
    </a>
    <a href="{{ page.producer_page.specific.url }}" class="card-flash">
        <div class="container card mt-4 mb-2 p-3 card-flash shadow-sm">
            <div class="row justify-content-center">
                <div class="col-12 align-items-center text-center">
                    <h5 class="card-title text-center my-2"> {{ page.producer_page.title }}
                    </h5>
                </div>
            </div>
        </div>
    </a>
</div>
{% endblock %}