{% extends "base_light.html" %}
{% load wagtailcore_tags wagtailimages_tags static%}
{% block body_class %}template-homepage{% endblock %}

<!-- Cancel out headerblock -->
{% block header %}
<div class="container my-md-5 mt-2 mb-0 mb-md-1">
    <div class="row justify-content-center">
        <h1 class="text-center md-display-5 mt-2 mb-2 mb-md-2">
            #{{page.film_number}}: {{ page.title }}
            <span class="text-muted"> ({{ page.release_year }})</span>
        </h1>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- End Intro block, start iterating through book blocks -->
<div class="container mt-2 mt-md-5 mb-4 mb-md-5 p-1 p-md-3">
    <!-- Open Row -->
    <div class="row d-flex justify-content-between">
    <!-- Left hand column -->
        <div class="col-12 col-md-6">
            <div class="col-12 card px-0 mt-2">
                <h5 class="card-header text-center my-0">
                        Producer
                </h5>
                <div class="card-body">
                    <p class="card-text text-center">
                        <a href="">
                            {{page.producer.title}}</a>
                    </p>
                </div>
            </div>
            <div class="col-12 card px-0 mt-3">
                <h5 class="card-header text-center my-0">
                        Jove Brand
                </h5>
                <!-- Card Text -->
                <a href="" class="card-flash">
                <div class="card-body card-flash">
                    <p class="card-text text-center">
                        Played by <em>{{page.jove_brand_actor.title}}</em>
                    </p>
                </div>
                </a>
            </div>
        </div>
    <!-- Right hand column -->
        <div class="col-12 col-md-6">
            <div class="col-12 card px-0 mt-3 mt-md-2">
                <h5 class="container-fluid card-header text-center mb-2">
                        Description
                </h5>
                <div class="card-body">
                    <span class="card-text">
                        {{page.movie_description|richtext}}
                    </span>
                </div>
            </div>
        </div>
    <!-- Close Row -->
    </div>
<!-- Close Card -->
</div>
{% endblock %}