{% extends "base_light.html" %}
{% load wagtailcore_tags wagtailimages_tags static%}
{% block body_class %}template-homepage{% endblock %}
<!-- Cancel out headerblock -->
{% block content %}
<!-- End Intro block, start iterating through book blocks -->
    {% for movie in movie_pages %}
    <a href="{% pageurl movie.specific %}" class="card-flash">
    <div class="container card mt-4 mb-2 p-3 card-flash shadow-sm">
        <div class="row justify-content-center">
            <div class="col-12 align-items-center text-center">
                <h5 class="card-title text-center my-2"> #{{movie.specific.film_number}}:
                         {{ movie.specific.title }} ({{movie.specific.release_year}})
                </h5>
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
{% endblock %}